body {
    margin: 4%;
    background-color: burlywood;
}
#txt_data {
    width: 90%;
    height: 350px;
    outline: none;
}
button {
    background-color: saddlebrown;
    font-size: 20px;
    margin-right: 2%;
    font-family: Arial, sans-serif;
}
textarea, input {
    background-color: rgb(241, 211, 172);
    border-color: rgb(241, 211, 172);
    font-size: 20px;
    font-family: Arial, sans-serif;
}
input {
    margin-top: 40px;
    width: 90%;
}